### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
Ninja_TeamProject/Assets/Feel/NiceVibrations/Plugins/Windows/x64/nice_vibrations_editor_plugin.dll
